﻿<div>
    @using (Ajax.BeginForm("ChangeCurrency", "Search", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "post",
        UpdateTargetId = "searchResults"
    }))
    {
        <fieldset>
            Currency: @Html.DropDownList("currencyCodes", null, new {onchange = "$(this.form).submit();" })
        </fieldset>
    }
</div>
<br>

@{
    WebGrid grid = new WebGrid(@ViewBag.Products, rowsPerPage: 13, canPage: true, canSort: true, ajaxUpdateContainerId: "table");
}

<div>
        @grid.GetHtml(
        htmlAttributes: new { id = "table" },
        tableStyle: "table table-striped",
        footerStyle: "paging",
        mode: WebGridPagerModes.All,
        firstText: "<<First",
        lastText: "Last>>",
        nextText: "Next>",
        previousText: "<Previous",
        columns:
            grid.Columns
            (
                grid.Column(columnName: "Title", header: "Product name", format: @<text><a target="_blank" href="@item.Url">@item.Title</a></text>),
                grid.Column(columnName: "Price", header: "Price", format: @<text>@{decimal q = (@item.Price * @ViewBag.conversionRate);} @q.ToString("0.00")</text>)
            )
)
</div>