﻿<div>
    <p>
        @using (Ajax.BeginForm("_ProductSearch", "Search", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "get",
            LoadingElementId = "ajax-loader",
            UpdateTargetId = "searchResults"
        }))
        {
            <input type="text" name="keywords" />
            <input type="submit" value="Find products"/>
            <img id="ajax-loader" src="~/Content/Images/ajax-loader.gif" style="display:none" />
        }

    </p>
</div>

<div id="searchResults">
</div>

